<!DOCTYPE html>
    <html ng-app="profile">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>tabby cat</title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link rel="stylesheet" href="css/styles.css">
        
		<style> 
		</style>
    
    </head>
    
    <body ng-controller="ProfileController as profile" > 

    <div  ng-repeat="product in profile.products"> 

        <div id="tabbed_box_1" class="tabbed_box">
        <h4>browse site <em>select a tab</em></h4>
        <div class="tabbed_area"> 


        <section ng-controller="TabController as tab" >
           
            <ul class="tabs">
              <li ng-class="{ active: tab.isSelected(1) }"> 
            <a href ng-click="tab.selectTab(1)">uno</a> </li>
              <li ng-class="{ active: tab.isSelected(2) }"> 
            <a href ng-click="tab.selectTab(2)">dos</a> </li>
              <li ng-class="{ active: tab.isSelected(3) }"> 
            <a href ng-click="tab.selectTab(3)">tres</a> </li>
            </ul>
             
        <div class="content" ng-show="tab.isSelected(1)" n>
           <div style="width: 230px;padding:0 20px 0 10px;border-right: 2px dotted #990000; margin-right: 10px; "> 
           <img ng-src="{{product.images}}" />
           <h2>{{product.name}}</h2>
           <h3>{{product.alias}}</h3>
           </div>
           <blockquote > 
           <p></p>

           </blockquote>
        </div>

        <div class="content" ng-show="tab.isSelected(2)">
          <h2>dos</h2>
          <blockquote> :S
          </blockquote>
        </div>
        
        <div class="content" ng-show="tab.isSelected(3)">
          <h2>tres</h2>
          <blockquote> :3
          </blockquote>
        </div>

        </section>
        
        </div>
        </div>
        </div>




    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
            
    </body> 
</html>